
.form-square{
    $form-light:#fff;
    $form-dark:#a38574;
    background-color: $form-light;

    &.form-square-icon{
        padding-left: 60px;
        position: relative;
    }

    .form-input{
        border:none;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
    }

    .form-square-icon-move{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .btn-formColor{
        background-color:$form-dark;
    }
}